@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
  background: #0d0d0f;
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 380px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

input {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255,255,255,0.08);
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  transition: 0.2s;
}

input:focus {
  background: rgba(255,255,255,0.15);
}

button {
  width: 100%;
  padding: 14px;
  background: #00eaff;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.2s;
}

button:hover {
  background: #00cde0;
}

.qr-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

a#download {
  display: none;
  padding: 12px;
  background: #00eaff;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.2s;
}

a#download:hover {
  background: #00cde0;
}


input {
    margin-top: 15px;
}